<launch>
	<arg name="record_bag" default="False"/>
	<arg name="topics" default="/defenders_locations /enemy_locations /takeoff /defender1/mavros/local_position/pose /defender2/mavros/local_position/pose /defender3/mavros/local_position/pose /attacker1/mavros/local_position/pose /defender1/dlp_state /defender2/dlp_state /defender3/dlp_state /battle /commander /defender1/mavros/extended_state /defender2/mavros/extended_state /defender3/mavros/extended_state /attacker1/mavros/extended_state /defender1/mavros/local_position/velocity /defender2/mavros/local_position/velocity /defender3/mavros/local_position/velocity /attacker1/mavros/local_position/velocity /defender1/mavros/state /defender2/mavros/state /defender3/mavros/state /attacker1/mavros/state"/>

	<rosparam command="load" file="$(find dlp)/config/problem_setup.yaml" />
	<node pkg="dlp" type="supervisory_node_gps.py" name="supervisory_node"  required="true" output="screen">
	</node>

	<node pkg="rosbag" type="record" name="bag_recording" args="-o /home/abdkadma/ros_bags/zahana_game/game.bag $(arg topics)" required="true" if="$(arg record_bag)">
	</node>
</launch>
